body {
  font-family: "Helvetica", "Arial", "Sans-Serif";
  font-size: 0.85em;
  margin: 60px auto;
  width: 70%;
}

nav ul,
footer ul {
  font-family: "Helvetica", "Arial", "Sans-Serif";
  padding: 0px;
  list-style: none;
  border-bottom: 0.01em solid ##d5d5d5;
}

ul {
  font-family: "Helvetica", "Arial", "Sans-Serif";
  padding-left: 40px;
}

ul.posts {
  margin: 0px auto 40px;
}

nav ul li,
footer ul li {
  display: inline;
  margin-left: 0px;
  margin-right: 20px;
}

ul li {
  display: list-item;
  margin-left: 20px;
  margin-right: 20px;
  list-style: outside;
}

ul.posts li {
  margin-left: 0px;
  margin-right: 5px;
  list-style: none;
}

a {
  text-decoration: none;
  color: #000;
}

a:hover {
  text-decoration: underline;
  color: #333;
}

h1 {
  font-size: 3em;
  font-family: "Helvetica", "Arial", "Sans-Serif";
}

.mainTitle {
  font-size: 3em;
  font-family: "Helvetica", "Arial", "Sans-Serif";
  text-align: center;
  font-weight: bold;
}

.mainTitle a:hover {
  text-decoration: none;
}

.sectionHeader {
  color: #000;
  display: block;
  font-size: 1.5em;
  margin-bottom: 1em;
  font-weight: bold;
  border-bottom: 0.01em solid black;
}

.institution {
  color: black;
  display: block;
  font-size: 1.25em;
  margin-left: 20px;
  margin-bottom: 5px;
  font-weight: bold;
}

.project {
  display: block;
  font-size: 1em;
  margin-top: 0em;
  margin-bottom: 0em;
  margin-left: 20px;
  font-style: normal;
}

.role {
  display: block;
  font-size: 1em;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 20px;
  font-style: italic;
}

.kicker {
  font-size: 0.75em;
  line-height: 0.9em;
  color: #ff7f00;
}

.blogDateTime {
  font-size: 0.75em;
  line-height: 0.9em;
  color: #666;
}

.p {
  font-size: 1.15em;
  line-height: 1.25em;
  color: #333;
}

.blurb {
  font-size: 1em;
  line-height: 1.15em;
  color: #333;
}

.lastUpdate {
  font-size: 0.75em;
  font-family: "Helvetica", "Arial", "Sans-Serif";
  text-align: right;
  color: #999;
}

meta {
  font-size: 0.5em;
  font-family: "Helvetica ", "Arial", "Sans-Serif";
  color: #999;
}
footer {
  border-top: 0.01em solid #d5d5d5;
  font-size: 0.8em;
}
