<div class="noPrint">
  <footer>
    <ul>
      <li><a href="mailto:morals.tech.0x@icloud.com">email</a></li>
      <li><a href="https://cal.com/jpurnell/15min">calendar</li>
      <li><a href="https://github.com/jpurnell">github</a></li>
	  <li><a rel="me" href="https://bsky.app/profile/justinpurnell.com">bluesky</a></li>
      <li><a rel="me" href="https://mastodon.social/@jpurnell">mastodon</a></li>
      <li><a href="https://music.apple.com/us/station/justin-purnells-station/ra.u-a475786ae9cc432a1abb70ff757aa95f">radio</a></li>
      <li><a href="http://blog.justinpurnell.com/rss" title="rss feed">rss</a></li>
    </ul>
  </footer>
</div>
