---
layout: cv
title: Justin Purnell
lastUpdate: 2020-09-29
---

<p class="mainTitle">
  <a
    href="mailto: {{ site.data.cv.basics.email}}"
    title="{{ site.data.cv.basics.email}}"
    >{{ page.title }}</a
  >
</p>

<!-- Summary -->
<p class="sectionHeader">Summary</p>
{% for line in site.data.cv.summary %} {{ line }} {% endfor %}

<!-- Experience -->
<p class="sectionHeader">Experience</p>
{% for employer in site.data.cv.employers %}
<p class="institution">
  <a href="{{ employer.websiteURL }}" title="{{ employer.name }}"
    >{{ employer.name }}</a
  >
</p>
{% for project in employer.projects %}
<p class="project">
  <a href="{{ project.website }}" title="{{ project.project }}"
    >{{ project.project }}</a
  >
</p>
<p class="role">{{ project.position }}</p>
<ul>
  {% for highlight in project.highlights %}
  <li>{{ highlight }}</li>
  {% endfor %}
</ul>
{% endfor %} {% endfor %}

<!-- Volunteer -->
<p class="sectionHeader">Volunteer Work</p>
{% for volunteer in site.data.cv.volunteering %}
<p class="institution">
  <a href="{{ volunteer.website }}" title="{{ volunteer.organization }}"
    >{{ volunteer.organization }}</a
  >
</p>
<p class="role">{{ volunteer.position }}</p>
<ul>
  {% for highlight in volunteer.highlights %}
  <li>{{ highlight }}</li>
  {% endfor %}
</ul>
{% endfor %}

<!-- Publications -->
<p class="sectionHeader">Projects and Publications</p>
{% for publication in site.data.cv.publications %}
<p class="institution">
  <a href="{{ publication.url }}" title="{{ publication.name}}"
    >{{ publication.name }}</a
  >
</p>
<ul>
  {% for highlight in publication.highlights %}
  <li>{{ highlight }}</li>
  {% endfor %}
</ul>
{% endfor %}

<!-- Education -->
<p class="sectionHeader">Education</p>
{% for edu in site.data.cv.education %}
<p class="institution">{{ edu.institution }}</p>
<p class="project">
  {{ edu.studyType }}<br />{{ edu.area }}<br />{{ edu.endDate | date: "%Y" }}
</p>
<ul>
  {% for course in edu.courses %}
  <li>{{ course }}</li>
  {% endfor %}
</ul>
{% endfor %}

<!-- Social -->
<p class="sectionHeader">Social</p>
<div class="row">
  {% for profile in site.data.cv.basics.socialProfiles %}
  <div class="column">
    <a href="{{ profile.url }}" alt="{{ profile.network }}">
      <img
        class="imgColor"
        width="20"
        height="20"
        alt="{{profile.network}}"
        src="../images/social/{{profile.network}}.svg"
      />
    </a>
  </div>
  {% endfor %}
</div>

<!-- Skills -->
<p class="sectionHeader">Skills</p>
<ul class="posts">
  {% for skill in site.data.cv.skills %}
  <a title="{{ skill.level }}"> {{ skill.name }}</a>
  {% endfor %}
</ul>
