body {
	font: 0.975rem/1.4 "Ovo";
  margin: 60px auto;
/*  width: 90%;*/
}

@media only screen and (min-width: 1142px) {
  /* For desktop: */
  body {
    width: 84%;
    max-width: 960px
  }
}

nav ul {
  list-style: none;
}

footer ul {
  padding: 0.85em;
  list-style: none;
}

img {
  max-width: 100%;
  display: block;
  padding: 5px;
}

ul {
  padding-left: 2em;
}

ul.posts {
  margin-right: 1.5em;
  padding-right: 1.5em;
  /* margin: 0px auto 40px; */
}

.nav-link {
	padding: 0px;
}

nav ul li,
footer ul li {
  display: inline;
  margin-left: 0em;
  margin-right: 1.5em;
}

ul li {
  display: list-item;
  margin-left: 1.5em;
  margin-right: 1.5em;
  list-style: outside;
}

ul.posts li {
  margin-left: 0em;
  margin-right: 0.75em;
  padding-right: 1.5em;
  list-style: none;
}

a {
  text-decoration: none;
  color: #000;
}

a:hover {
  text-decoration: none;
  color: #333;
}

h1 {
  font-size: 3em;
}

.mainTitle {
  font-size: 3em;
  text-align: left;
  font-weight: 100;
  margin-block-start: 0.75em;
  margin-block-end: 0.75em;
  font-variant-caps: small-caps;
}

.siteTitle {
  font-size: 5em;
  font-weight: 100;
  padding-top: 20%;
  padding-bottom: 20%;
  text-align: right;
  font-variant-caps: small-caps;
}
.mainTitle a:hover {
  text-decoration: none;
}

.sectionHeader {
  color: #000;
  display: block;
  font-size: 1.5em;
  margin-bottom: 1em;
  font-weight: 700;
  font-variant-caps: small-caps;
  border-bottom: 0.01em solid black;
}

.institution {
  color: black;
  display: block;
  font-size: 1.25em;
  margin-left: 1.2em;
  font-weight: bold;
  margin-bottom: 0rem;
  font-variant-caps: small-caps;
  margin-block-start: 0em;
  margin-block-end: 0em;
}

.project {
  display: block;
  font-size: 1em;
  margin-top: 0em;
  margin-bottom: 0em;
  margin-left: 1.5em;
  font-weight: 500;
  font-style: normal;
}

.role {
  display: block;
  font-size: 1em;
  margin-top: 0em;
  margin-bottom: 0em;
  margin-left: 1.5em;
  font-style: italic;
}

.kicker {
  font-size: 0.75em;
  line-height: 0.9em;
  color: #ff7f00;
}

.blogDateTime {
  font-size: 0.75em;
  line-height: 0.9em;
  color: #666;
}

.p {
  font-size: 1.15em;
  line-height: 1.25em;
  color: #333;
  margin-bottom: 0rem;
  margin-block-start: 0em;
  margin-block-end: 0em;
}

.blurb {
  font-size: 1em;
  line-height: 1.15em;
  color: #333;
}

.about {
  line-height: 1.3em;
  width: 100%;
  text-align: justify;
}

.lastUpdate {
  font-size: 0.75em;
  text-align: right;
  color: #999;
}

.imgColor {
  color: #000;
  padding: 2px;
  width: max-content;
}

meta {
  font-size: 0.5em;
  color: #999;
}

footer {
  border-top: 0.01em solid #d5d5d5;
  font-size: 0.8em;
}

.column {
  float: left;
  width: 1.75em;
  padding: 0.375em;
}

.row {
  padding-left: 1.5em;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

@media (prefers-color-scheme: dark) {
  body,
  html {
    background-color: #333;
    color: #ccc;
  }
  
  .h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6, a, a:hover {
	  margin-top: 0;
	  margin-bottom: .5rem;
	  color: #777;
	  line-height: 1.2;
  }

  a,
  a:hover,
  .sectionHeader,
  .institution,
  .p,
  .blurb,
  .lastUpdate,
  .blogDateTime,
  .meta {
    color: #777;
  }

  .sectionHeader {
    border-bottom: 0.01em solid #777;
  }

  .imgColor {
    filter: invert(1) brightness(85%);
  }
  
  nav-link active, .nav-link.active, .navbar-nav, .nav-link{
	  color: #E77500;
  }
}

@font-face {
	font-family: 'Ovo';
	src: url('/fonts/Ovo/eot/Ovo.eot');
	src: url('/fonts/Ovo/eot/Ovo.eot?#iefix') format('embedded-opentype'),
	url('/fonts/Ovo/woff2/Ovo.woff2') format('woff2'),
	url('/fonts/Ovo/woff/Ovo.woff') format('woff'),
	url('/fonts/Ovo/ttf/Ovo.ttf') format('truetype'),
	url('/fonts/Ovo/svg/Ovo.svg#agaramond') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'AGaramondPro';
	src: url('/fonts/AGaramondPro/eot/AGaramondPro-Regular.eot');
	src: url('/fonts/AGaramondPro/eot/AGaramondPro-Regular.eot?#iefix') format('embedded-opentype'),
	url('/fonts/AGaramondPro/woff2/AGaramondPro-Regular.woff2') format('woff2'),
	url('/fonts/AGaramondPro/woff/AGaramondPro-Regular.woff') format('woff'),
	url('/fonts/AGaramondPro/ttf/AGaramondPro-Regular.ttf') format('truetype'),
	url('/fonts/AGaramondPro/svg/AGaramondPro-Regular.svg#agaramond') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'AGaramondPro';
	src: url('/fonts/AGaramondPro/eot/AGaramondPro-Italic.eot');
	src: url('/fonts/AGaramondPro/eot/AGaramondPro-Italic.eot?#iefix') format('embedded-opentype'),
		 url('/fonts/AGaramondPro/woff2/AGaramondPro-Italic.woff2') format('woff2'),
		 url('/fonts/AGaramondPro/woff/AGaramondPro-Italic.woff') format('woff'),
		 url('/fonts/AGaramondPro/ttf/AGaramondPro-Italic.ttf') format('truetype'),
		 url('/fonts/AGaramondPro/svg/AGaramondPro-Italic.svg#agaramond') format('svg');
	font-weight: normal;
	font-style: italic;
}

@font-face {
	font-family: 'AGaramondPro';
	src: url('/fonts/AGaramondPro/eot/AGaramondPro-Semibold.eot');
	src: url('/fonts/AGaramondPro/eot/AGaramondPro-Semibold.eot?#iefix') format('embedded-opentype'),
		 url('/fonts/AGaramondPro/woff2/AGaramondPro-Semibold.woff2') format('woff2'),
		 url('/fonts/AGaramondPro/woff/AGaramondPro-Semibold.woff') format('woff'),
		 url('/fonts/AGaramondPro/ttf/AGaramondPro-Semibold.ttf') format('truetype'),
		 url('/fonts/AGaramondPro/svg/AGaramondPro-Semibold.svg#agaramond') format('svg');
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'AGaramondPro';
	src: url('/fonts/AGaramondPro/eot/AGaramondPro-SemiboldItalic.eot');
	src: url('/fonts/AGaramondPro/eot/AGaramondPro-SemiboldItalic.eot?#iefix') format('embedded-opentype'),
		 url('/fonts/AGaramondPro/woff2/AGaramondPro-SemiboldItalic.woff2') format('woff2'),
		 url('/fonts/AGaramondPro/woff/AGaramondPro-SemiboldItalic.woff') format('woff'),
		 url('/fonts/AGaramondPro/ttf/AGaramondPro-SemiboldItalic.ttf') format('truetype'),
		 url('/fonts/AGaramondPro/svg/AGaramondPro-SemiboldItalic.svg#agaramond') format('svg');
	font-weight: 500;
	font-style: italic;
}

@font-face {
	font-family: 'AGaramondPro';
	src: url('/fonts/AGaramondPro/eot/AGaramondPro-Bodl.eot');
	src: url('/fonts/AGaramondPro/eot/AGaramondPro-Bold.eot?#iefix') format('embedded-opentype'),
		 url('/fonts/AGaramondPro/woff2/AGaramondPro-Bold.woff2') format('woff2'),
		 url('/fonts/AGaramondPro/woff/AGaramondPro-Bold.woff') format('woff'),
		 url('/fonts/AGaramondPro/ttf/AGaramondPro-Bold.ttf') format('truetype'),
		 url('/fonts/AGaramondPro/svg/AGaramondPro-Bold.svg#agaramond') format('svg');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'AGaramondPro';
	src: url('/fonts/AGaramondPro/eot/AGaramondPro-BoldItalic.eot');
	src: url('/fonts/AGaramondPro/eot/AGaramondPro-BoldItalic.eot?#iefix') format('embedded-opentype'),
		 url('/fonts/AGaramondPro/woff2/AGaramondPro-BoldItalic.woff2') format('woff2'),
		 url('/fonts/AGaramondPro/woff/AGaramondPro-BoldItalic.woff') format('woff'),
		 url('/fonts/AGaramondPro/ttf/AGaramondPro-BoldItalic.ttf') format('truetype'),
		 url('/fonts/AGaramondPro/svg/AGaramondPro-BoldItalic.svg#agaramond') format('svg');
	font-weight: bold;
	font-style: italic;
}

@media print {
  nav ul {
    display: none;
  }

  footer,
  ul.topNav,
  .noPrint {
    display: none;
  }

  .section {
    page-break-before: auto;
    page-break-inside: avoid;
  }
  
  .project, .institution {
    page-break-before: auto;
    page-break-inside: avoid;
  }
  
  .kicker {
    font-size: 0.75em;
    line-height: 0.9em;
    color: #f58025;
  }

  #content,
  #page {
    width: 100%;
    margin: 0;
    float: none;
  }

  body {
    font-family: "AGaramondPro", "Times", "Serif";
    font: 0.85em "AGaramondPro", "Serif";
    line-height: 1.1em;
    background: #fff !important;
    color: #000;
    width: 100%;
  }

  .mainTitle {
    font-size: 3em;
    text-align: center;
    font-weight: 500;
    margin-block-start: 0em;
    margin-block-end: 0.25em;
  }

  .sectionHeader {
    color: #000;
    display: block;
    font-size: 1.2em;
    margin-bottom: 1.15em;
    font-weight: 500;
    border-bottom: 0.01em solid black;
  }

  .institution {
    font-size: 1.1em;
  }

  .role,
  .project {
    font-size: 1em;
  }
}
