<!DOCTYPE html>
<html lang="en">
  <head>
    
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-248983-5"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag() { dataLayer.push(arguments); }
      gtag("js", new Date());
      gtag("config", "UA-248983-5");
    </script>
    
    <!-- Implement Basic Metadata -->
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="{{page.meta}}">
    
    <!-- Implement Open Graph Protocol https://ogp.me/ -->
    <meta property="og:type" content="website" />
    <meta property="og:title" content="{{page.title}}"/>
    <meta name="og:description" content="{{page.meta}}">
    <meta property="og:image" content="../images/standard/standard_500x500.jpg"/>
    <meta property="og:image:type" content="image/jpeg" />
    <meta property="og:image:width" content="100" />
    <meta property="og:image:height" content="100" />
    <meta property="og:image:alt" content="A photo of Justin Purnell" />
       
    
    <!-- Page Title -->
    <title>{{page.title}}</title>
    
    <!-- link to main stylesheet -->
    <link rel="stylesheet" type="text/css" href="/css/main.css" media="print" onload="this.media='all'" />
    
  </head>
  <body>
    <nav>
      <ul class="topNav">
        <li><a href="/">Home</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/cv">CV</a></li>
        <li><a href="https://blog.justinpurnell.com">Blog</a></li>
      </ul>
    </nav>
    <div class="container">{{ content }}</div>
    <!-- /.container -->
    <div class="noPrint">{% include footer.html %}</div>
  </body>
</html>
